# IDE
.idea/
.vscode/
.DS_Store
**/.DS_Store

# Python & Env
__pycache__/
*.pyc
.env
condaenv.*

# Data & Weights (Très important pour ne pas saturer Git)
*.ckpt
*.pth
*.pt
*.nc
*.nc4
*.h5
*.npy
test_output/
logs/
wandb/

# Tes dossiers spécifiques à ignorer
Croscim/Notebooks/
4dvarnet-starter/Notebooks/